@model mediabalans_sufre.Models.BLL.Blog

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-12 my-4">
        <div class="card shadow my-4">
            <div class="card-header py-4">
                Blog Güncelle <a asp-action="Index" class="float-right btn btn-outline-secondary">Geri Git</a>
            </div>
            <div class="card-body">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <fieldset class="radiogenel">
                                <legend>Resim ve Video</legend>
                                <div class="img my-3">
                                    <img src="~/files/blog/@Model.FileUrl" />
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="addnae">Resim Dosyası</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" name="file" aria-describedby="addnae" accept=".jpeg, .png, .jpg">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="VideoLink" class="control-label">Video Url</label>
                                    <input asp-for="VideoLink" class="form-control" />
                                    <span asp-validation-for="VideoLink" class="text-danger"></span>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CreatDate" class="control-label">Tarih</label>
                                <input type="date" asp-for="CreatDate" class="form-control" required />
                                <span asp-validation-for="CreatDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Approve" class="control-label d-block">Gösterilsin mi?</label>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ApproveTrue" name="Approve" asp-for="Approve" class="custom-control-input" value="True">
                                    <label class="custom-control-label" for="ApproveTrue">Evet</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="ApproveFalse" name="Approve" asp-for="Approve" class="custom-control-input" value="False">
                                    <label class="custom-control-label" for="ApproveFalse">Hayır</label>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="FileUrl" />
                        <input type="hidden" asp-for="UniqueSeo" />
                        <input type="hidden" asp-for="OrderBy" />
                        <div class="col-md-6">
                            <div class="form-language my-3">
                                @{
                                    int a = 0;
                                    int b = 0;
                                }
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    @foreach (var item in context.Languages.ToList())
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link @(a == 0 ? "active":" ") " id="nav-@item.Code-tab" data-toggle="tab" href="#nav-@item.Code" role="tab" aria-controls="nav-@item.Code" aria-selected="true">@item.Name</a>
                                        </li>
                                        a++;
                                    }
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    @foreach (var item in Model.BlogTranslates)
                                    {
                                        <div class="tab-pane fade @(b == 0 ? " show active" : "") py-4" id="nav-@item.Language.Code" role="tabpanel" aria-labelledby="nav-@item.Language.Code">
                                            <div class="form-group">
                                                <label class="control-label">Başlık - (@item.Language.ShortName)</label>
                                                <input type="text" name="translates[@b].Title" class="form-control" value="@item.Title" />
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Özet - (@item.Language.ShortName)</label>
                                                <textarea class="form-control" rows="4" cols="4" name="translates[@b].Summray">@item.Summray</textarea>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label">Açıklama - (@item.Language.ShortName)</label>
                                                <textarea class="form-control texteditor" rows="4" cols="4" name="translates[@b].Descriptions">@item.Descriptions</textarea>
                                            </div>
                                            <input type="hidden" name="translates[@b].Id" value="@item.Id" />
                                            <input type="hidden" name="translates[@b].LanguageId" value="@item.LanguageId" />
                                            <input type="hidden" name="translates[@b].BlogId" value="@item.BlogId" />
                                        </div>
                                        b++;
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="radiogenel">
                                <legend>Sayfa Seo</legend>
                                <div class="form-language my-3">
                                    @{
                                        int sa = 0;
                                        int sb = 0;
                                    }
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        @foreach (var item in context.Languages)
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link @(sa == 0 ? "active":" ") " id="nav-@item.Code-tab-01" data-toggle="tab" href="#nav-@item.Code-seo" role="tab" aria-controls="nav-@item.Code-seo" aria-selected="true">@item.Name</a>
                                            </li>
                                            sa++;
                                        }
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        @foreach (var item in context.SeoTranslates.Where(x => x.Seo.UniqueSeo == Model.UniqueSeo).ToList())
                                        {
                                            <div class="tab-pane fade @(sb == 0 ? " show active" : "") py-4" id="nav-@item.Language.Code-seo" role="tabpanel" aria-labelledby="nav-@item.Language.Code-seo">
                                                <div class="form-group">
                                                    <label class="control-label">Keyword - (@item.Language.ShortName)</label>
                                                    <input type="text" name="seos[@sb].Key" class="form-control" value="@item.Key" />
                                                </div>
                                                <div class="form-group">
                                                    <label class="control-label">Description - (@item.Language.ShortName)</label>
                                                    <textarea class="form-control" rows="4" cols="4" name="seos[@sb].Descriptions">@item.Descriptions</textarea>
                                                </div>
                                                <input type="hidden" name="seos[@sb].Id" value="@item.Id" />
                                                <input type="hidden" name="seos[@sb].LanguageId" value="@item.LanguageId" />
                                                <input type="hidden" name="seos[@sb].SeoId" value="@item.SeoId" />
                                            </div>
                                            sb++;
                                        }
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
