@model mediabalans_sufre.Models.BLL.Page

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-6 my-4">
        <div class="card shadow mb-4">
            <div class="card-header py-4">
                Ekle <a asp-action="Index" class="float-right btn btn-outline-secondary">Geri Git</a>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-language my-3">
                        @{
                            int a = 0;
                            int b = 0;
                        }
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            @foreach (var item in context.Languages.ToList())
                            {
                                <li class="nav-item">
                                    <a class="nav-link @(a == 0 ? "active":" ") " id="nav-@item.Code-tab" data-toggle="tab" href="#nav-@item.Code" role="tab" aria-controls="nav-@item.Code" aria-selected="true">@item.Name</a>
                                </li>
                                a++;
                            }
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            @foreach (var item in context.Languages.ToList())
                            {
                                <div class="tab-pane fade @(b == 0 ? " show active" : "") py-4" id="nav-@item.Code" role="tabpanel" aria-labelledby="nav-@item.Code">
                                    <div class="form-group">
                                        <label class="control-label">Başlık - (@item.ShortName)</label>
                                        <input type="text" name="translates[@b].Title" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Açıklama - (@item.ShortName)</label>
                                        <textarea class="form-control texteditor" rows="4" cols="4" name="translates[@b].Descriptions"></textarea>
                                    </div>
                                    <input type="hidden" name="translates[@b].LanguageId" value="@item.Id" />
                                </div>
                                b++;
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Ekle" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
